.container {
  width: 400px;
  height: auto;
  background-color: rgb(var(--mid-color));
  padding: 35px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.418);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
}

.label {
  font-size: 20px;
  font-weight: 600;
}

.input {
  width: 100%;
  border: 0;
  height: 35px;
  line-height: 35px;
  font-size: 22px;
  background-color: whitesmoke;
  border-radius: 5px;
  color: rgb(var(--background-color));
  padding: 10px;
}

.button {
  width: 100%;
  background-color: rgb(var(--accent-color));
  transition: 0.2s;
  margin-top: 29px;
  font-size: 18px;
  font-weight: 600;
  border: 0;
}

.button:hover {
  opacity: 0.6;
}

.button:active {
  opacity: 0.9;
}
